<footer>
    <div id="beyond_corporate_credits">
        <div class="container">
            <div class="row">
                <div class="col"><a href="https://andidittrich.com/"><span class="slogan">Beyond Technology</span><br /><small>beyond the visible world</small></a></div>
                <div class="col text-right small"><a href="https://about.andidittrich.com/privacy-policy.html">Privacy Policy</a> | <a href="https://about.andidittrich.com/contact.html">Contact</a> | <a href="https://about.andidittrich.com/imprint.html">Imprint</a></div>
            </div>
        </div>
    </div>
</footer>

<%- plugins.resources.enqueue('js'); %>

</body></html>